
<!-- <h1 class="page-title">Contenido del curso</h1> -->

<div class="page-content">

  <div class="item-container">
    <mat-card>
      <h3 class="page-subtitle">Introducción a angular</h3>
      <mat-card-content>
          <p>Que es una SPA</p>

          <p>Que son los:</p>

          <ul>
            <li>Componentes.</li>
            <li>Directivas.</li>
            <li>Servicios.</li>
            <li>Pipes.</li>
            <li>Modulos.</li>
          </ul>
      </mat-card-content>
    </mat-card>

    <div class="item">
      <h3 class="page-subtitle">Esencial</h3>
      <ul>
        <li>Typescript.</li>
        <li>Angular CLI.</li>
        <li>Estructuracion de un proyecto.</li>
        <li>Routing.</li>
        <li>Formularios.</li>
        <li>Validaciones.</li>
        <li>RXJS - Observables.</li>
        <li>Manejo de http.</li>
      </ul>
    </div>

    <div class="item">
      <h3 class="page-subtitle">Angular Avanzado</h3>

      <ul>
        <li>Comunicacion entre componentes.</li>
        <li>Componentes personalizados.</li>
        <li>Componentes reutilizables.</li>
        <li>Ciclo de vida de un componente.</li>
        <li>Lazy loading con modulos.</li>
        <li>Librerias externas.</li>
        <li>Angular material.</li>
        <li>Buenas practicas.</li>
      </ul>
    </div>

    <div class="item">
      <h3 class="page-subtitle">Practica</h3>

      <ul>
        <li>Crear aplicacion con crud.</li>
        <li>Navbar.</li>
        <li>Crear componentes.</li>
        <li>Crear servicios.</li>
      </ul>
    </div>

  </div>

</div>
